<div class="text-center">
    <img src="~/images/Checkout.jpg" class="img-fluid" alt="Checkout Image">

    <h3 class="card-title mt-3">Parabéns</h3>
    <h5>Obrigado pelo seu pagamento!!</h5>

    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Voltar às compras
    </a>
</div>
