@model int

<h2 class="text-danger">
    The item with id = @Model cannot be removed !!!
</h2>

<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
    Voltar às compras
</a>
